[2019-06-07 06:52] wrznr opened #1 "Add missing binarization algorithms"
`olena` has a few [more algorithms](https://github.com/glazzara/olena/tree/master/scribo/scribo/binarization) than those wrapped here. In particular, `wolf` and `kim` have proven to be very useful for historical data.

[2019-06-08 22:08] cneud commented on #1
Btw, [Gamera](https://github.com/DDMAL/Gamera/blob/e0bd310eb649645d941092a32b42acab8138675a/gamera/plugins/binarization.py) also has Python implementations for adaptive binarization via ``Gatos`` and ``Niblack`` methods, both of which have shown particularly good results for historic documents.

[2019-07-16 13:13] kba commented on #1
https://gamera.informatik.hsnr.de/docs/gamera-docs/binarization.html

[2019-07-31 15:40] wrznr opened #3 "Fix runtime invocation"
Current master does not work:
[code]
Also with
[code]

[2019-07-31 15:40] wrznr commented on #3
@bertsky Any ideas?

[2019-07-31 20:46] bertsky commented on #3
@wrznr sure! This cannot work as long as core's CLI does not expose API to target `AlternativeImage` in PAGE-XML. (We do not even have an OOP extension in bashlib yet.)

In the current state, you can only operate on images (not PAGE) as input file grp (e.g. `OCR-D-IMG`).

For my own purposes (getting olena binarization on the page level for some existing PAGE-XML), I wrote a little bash script (as

[2019-07-31 21:10] bertsky commented on #1
Can this be closed after 9cdeadc and 49863321?

[2019-07-31 21:22] bertsky commented on #3
So this relates to OCR-D/core#264

[2019-07-31 22:01] cneud commented on #1
@bertsky Fine with me to close. With ``Niblack`` there is now also support for an advanced adaptive thresholding method.

At some point in the future I still hope to see a solid open implementation of ``Gatos`` [adaptive method](http://users.iit.demokritos.gr/~bgat/PatRec2006.pdf) as it has turned out the superior method in the IMPACT project and in the DIBCO competitions for historical documents

[2019-07-31 22:38] bertsky commented on #1
@cneud I see – thanks for sharing those insights! (Do we have a place to share such knowledge permanently yet?)

[2019-08-01 09:10] wrznr commented on #3
@bertsky My bad. Should have investigated the issue more thoroughly. I think your proposal is highly reasonable.

[2019-08-01 09:10] #3 closed

[2019-08-01 11:04] wrznr commented on #1
@cneud I see one big problem with data-driven binarization that is the missing data! Manual binarization is extremely costly.

[2019-08-01 11:06] cneud commented on #1
@wrznr I cannot follow, why data-driven binarization? But yes, we manually created binarization GT in IMPACT with Photoshop, pixel-by-pixel, would not ever want to do that again!

[2019-08-01 11:10] wrznr commented on #1
Because neural networks work data-driven in the sense of being trained with huge amounts of data.

[2019-08-01 15:36] cneud commented on #1
Indeed, point taken!

[2019-08-02 00:42] cneud commented on #1
Will ask my QURATOR colleagues to have a look at this though: https://github.com/masyagin1998/robin

[2019-08-02 22:53] bertsky commented on #1
Unfortunately, the `niblack` implementation (or parameterization?) in Olena seems to have a __big__ problem:
![OCR-D-IMG-BIN_0001 cropped-niblack](https://user-images.githubusercontent.com/38561704/62402620-22705180-b578-11e9-81ed-9fa3c2c7cfac.png)
![OCR-D-IMG-BIN_0001-niblack](https://user-images.githubusercontent.com/38561704/62402621-2308e800-b578-11e9-808f-9ed00e0b140c.png)

Does anyone know w

[2019-08-05 11:27] bertsky opened #4 "ImageMagick warnings cause binarization segfaults"
When ImageMagick outputs warnings about bad image tags, OLENA's binarization programs all segfault like so:

[code]

This most likely needs to be fixed upstream in OLENA.

[2019-08-15 12:50] cneud commented on #1
@bertsky Looks like typical ``Niblack`` results to me, the algorithm tends to be very conservative in removing noise while at the same time attempting clear separation of text and background. Not visually pleasing for the human eye but OK for OCR. See also the examples given in the Gatos paper linked [above](https://github.com/OCR-D/ocrd_olena/issues/1#issuecomment-517038767), pp. 323-324). That's

[2019-08-15 21:32] bertsky commented on #1
@cneud thanks for your explanation. I am stunned – this means what is good for OCR can still be totally useless for (rule-based, i.e. filters and graphs based) segmentation, possibly even conversely so. I will have to digest that for a while...

[2019-08-15 21:33] bertsky commented on #1
Anyway, I am going to close again – except anyone wants to turn this into a discussion thread.

[2019-08-15 22:24] bertsky commented on #4
I backtraced with the debugger. Now I have a sketch of a solution. We need to catch ImageMagick's exceptions with a patch for olena:

When scribo calls milena's `mln::io::magick::load`, this uses `Magick::Image::read` without any  try/catch clause whatsoever. Thankfully, the comment already concedes that:

[code]

So using Magick's [documentation](https://www.imagemagick.org/Magick++/Exception.htm

[2019-08-15 22:33] bertsky commented on #4
(And if the former – in #5 or as a new PR?)

[2019-08-16 07:15] bertsky commented on #4
created #6

[2019-08-22 18:12] #4 closed

[2019-08-22 20:15] bertsky commented on #1
@cneud I tried this with Ocropy and Tesseract on the GT bags and the results are devastating (in comparison to the other Olena algorithms and to Ocropy nlbin and even Tesseract's own binarization). Is it possible this binarization only gives good results if the OCR can be trained on it? (If so, what OCRs/models should be expected to work with Niblack? Will they also work well on other methods?)

[2019-08-22 22:10] cneud commented on #1
@bertsky Plz don't waste your time with this! We're now looking at https://github.com/ajgallego/document-image-binarization in QURATOR which seems to give much more promising results (from the paper).

TBH the only time I saw a really good implementation of ``Niblack`` for OCR was in the B.I.T. Alpha OCR which a) seems to no longer exist and b) had a terrible sales/support model (while I believe t

[2019-08-23 12:27] cneud commented on #1
@bertsky a QURATOR colleague has now trained models with different augmentation and parametrization based on https://github.com/ajgallego/document-image-binarization, and the results look quite good I'd say (scaled down and converted to JPG for GitHub)!

An OCR-D processor version of that binarization could be made available some time in October I guess.

![00000004](https://user-images.githubuser

[2019-08-27 14:14] #1 closed

[2019-08-27 14:16] wrznr opened #7 "Overwrite existing olena archive when unconditional make is used"
`wget`  does not overwrite by default.

[2019-08-27 15:53] kba commented on #7
Unconditional make is a bad idea most of the time.

How about

[code]

and `make olena-clean olena-build` to redownload? But why? IIRC building took ages

[2019-08-28 06:09] wrznr commented on #7
Dependencies are not checked in order to trigger a rebuild. If I fix let's say my boost installation only a re-download ensures reconfiguring.

[2019-09-18 17:19] bertsky commented on #7
I am trying to fully understand this request.

First of all: yes, `wget` should be used in a different way here – either with `-N` (which refuses to re-download if a file of that name exists locally and is already newer than on the server) or with `-nc` (which refuses to re-download if a file of that name exists locally).

But to be clear: with the current build configuration, this would still _no

[2019-09-18 19:35] bertsky commented on #7
@wrznr I believe you will find [this](https://github.com/OCR-D/ocrd_olena/pull/10/commits/2bc6a45b36219b43e47263ec845bb03435425961) to be a good approximation to a solution. Can we close?

[2019-10-24 10:18] #7 closed

[2019-12-12 14:58] bertsky commented on #1
Follow up on [above question about niblack results](https://github.com/OCR-D/ocrd_olena/issues/1#issuecomment-517865983): to be fair, the `niblack` algorithm was encapsulated differently in scribo. When I use `--disable-negate-input`, I get the following (which looks better, but the issue that this does not work at all for layout analysis, and that it probably must be trained into OCR remains):

!

[2019-12-12 15:02] cneud commented on #1
@bertsky Btw we now have released a first version of [our binarization](https://github.com/qurator-spk/sbb_binarization) based on https://github.com/OCR-D/ocrd_olena/issues/1#issuecomment-524296380 and I hope to add an OCR-D interface for it in the next week.

[2019-12-12 15:44] bertsky commented on #1
@cneud thanks – good to know! If we want to wrap this for OCR-D, we need a stable API though, and the possibility to load the TF model once, then apply on multiple images. Do you want me to open issues there, or is this still in flux anyway?

[2019-12-12 15:49] cneud commented on #1
Yes, this repo will still require some code cleanup/refinement, but feel free to open issues already or otherwise I'll let you know once I have a first version of the interface up.

[2019-12-14 10:28] stweil opened #20 "License is incompatible"
Please add Apache 2.0 or MIT license.

[2019-12-14 10:35] stweil commented on #20
Some other [OCR-D projects](https://github.com/OCR-D) also don't show a license. Maybe those can be updated, too.

[2019-12-17 12:51] kba commented on #20
We should indeed add explicit licenses throughout. All OCR-D projects are `Apache 2.0` licensed.

[2019-12-19 10:52] kba opened #21 "Error messages"
Reminder for myself to investigate a report that

[code]

leads to no error message.

@EEngl52 also reports problems with input/output file group names?

[2019-12-19 13:39] EEngl52 commented on #21
when you don't name the input and output file groups as specified, you get a warning. If you also make a mistake with the parameter this is the only message you get which is quite confusing.

[2019-12-19 14:16] EEngl52 opened #22 "Invalid PAGE-files"
```ocrd-olena-binarize -I OCR-D-CROP -O OCR-D-BIN -p '{"impl":"wolf"}'```

produces invalid PAGE-files (label element, cf. the attachment)

[OCR-D-BIN_0001.zip](https://github.com/OCR-D/ocrd_olena/files/3983928/OCR-D-BIN_0001.zip)

[2019-12-19 15:37] bertsky commented on #21
So the problem is that bashlib's `ocrd__wrap` / `ocrd__parse_argv` / `ocrd ocrd-tool JSON tool NAME parse-params -p ARGS`, and in turn ocrd's `ocrd_tool_tool_parse_params` / `ParameterValidator` does not actually validate the parameters – only `Processor` does!

[2019-12-19 15:38] bertsky commented on #21
This issue should be moved to core then.

[2019-12-19 15:48] bertsky commented on #22
Confirmed. I forgot to use the proper namespace prefix when I added the metadata. Sorry about that!

@kba, shall I wait for you to finish #19 or make an independent PR right away?

[2019-12-19 16:38] kba commented on #22
If it's a simple fix, feel free to open a PR, #19 needn't block this. Or even add it to #19, I'm still wrangling assets anyway.

[2019-12-19 18:06] bertsky commented on #22
It is. Chose the latter option.

[2019-12-20 13:57] #22 closed

[2019-12-26 10:45] stweil opened #23 "Build fails under certain preconditions"
A recent update caused a failing build which can be reproduced, for example like this:

    $ touch olena-add-bin-negate-toggles.patch && make build-olena
    git clone https://gitlab.lrde.epita.fr/olena/olena.git olena-git
    fatal: destination path 'olena-git' already exists and is not an empty directory.
    make: *** [Makefile:49: olena-git] Error 128

A simple ad-hoc fix is `touch olena-git`

[2019-12-27 10:24] kba commented on #23
+1 for submodules.

[2019-12-27 10:46] bertsky commented on #23
There is still the problem that we want additional patches that are not accepted upstream (yet). Maybe we want to redefine our upstream to some fork of our own. In that case I'd also prefer a submodule solution like in ocrd_all.

[2019-12-27 10:52] kba commented on #23
Yeah, if we had our own fork, we could simplify further. I think I will do that now, forking from https://github.com/glazzara/olena and adding the merged PR from LRDE's Gitlab as well as applying the patches directly.

[2019-12-27 11:01] stweil commented on #23
Currently only two patches are missing in upstream.

[2019-12-27 11:31] stweil commented on #23
https://github.com/glazzara/olena is more than 5 years behind the official code. Wouldn't it be better to fork https://gitlab.lrde.epita.fr/olena/olena.git?

[2019-12-27 11:38] bertsky commented on #23
Yes, fork from LRDE directly, then pull from https://gitlab.lrde.epita.fr/bertsky/olena/commit/e0fc4dc9d8679f359fcfb46f6109204f5bb3e699, then apply the remaining patches `olena-disable-doc.patch` and `olena-configure-python3.patch` as commit respectively. Not sure we still need the latter, though.

[2019-12-27 11:44] kba commented on #23
I forked from https://github.com/glazzara/olena to make the connection clear on GitHub. Applied the merge requests 1 and 2 from Gitlab and then the patches from ocrd_olena. If you prefer @bertsky I can reuse the commit of your Gitlab fork, I set the commit message and author (https://github.com/OCR-D/olena/commit/ed5eecbf8faab5236b1f24911ba7eb2cabe43c83).

[2020-01-03 13:53] kba commented on #23
I think this has been resolved with #24 @stweil

[2020-01-03 13:53] #23 closed

[2020-02-13 13:58] jbarth-ubhd opened #29 "does not compile (within ocrd_all, Ubuntu 18.04)"
[code]

[code]

`make all` within ~/ocrd1804/ocrd_all raises this error:

[code]

[2020-02-14 12:39] stweil opened #30 "macOS: ocrd-olena-binarize fails (old bash version)"
macOS provides an old version of bash which obviously does not support `declare -A`:

    $ ocrd-olena-binarize --help
    /Users/venv-20200202/bin/ocrd-olena-binarize: line 34: declare: -A: invalid option
    declare: usage: declare [-afFirtx] [-p] [name[=value] ...]

    $ /bin/bash --version
    GNU bash, version 3.2.57(1)-release (x86_64-apple-darwin19)
    Copyright (C) 2007 Free Software Fou

[2020-02-14 12:50] stweil commented on #29
Please try

    git -C /home/jb/ocrd1804/ocrd_all/ocrd_olena status
    git -C /home/jb/ocrd1804/ocrd_all/ocrd_olena/repo/olena status

Maybe the 2nd one is old. The current Makefile does not update it automatically, so you have to fix that manually (for example with `git submodule deinit ocrd_olena`).

[2020-02-17 12:04] kba commented on #30
MacOS ships with a 13 year old bash? Tricky. Can't you upgrade bash?

IIRC macOS ships with zsh. Do you know what version? We could add a switch to change from bash to zsh on macOS (with a few adaptions to the code).

But I would really strongly recommend using a modern bash with all the features and security fixes etc.

[2020-02-20 13:05] stweil commented on #30
Yes, meanwhile the default shell for macOS switched to zsh:

    % zsh --version
    zsh 5.7.1 (x86_64-apple-darwin19.0)

Homebrew and other extensions for macOS offer recent versions of bash in `/usr/local/bin/bash`, but I think that OCR-D tools should not require such additional software, but work with the default which is available on macOS. I rarely notice problems caused by the old bash versi

[2020-02-20 13:45] bertsky commented on #30
Why not? This could become part of a native OS installation adaptor. Like `deps-ubuntu` for Debian/Ubuntu, only more general (perhaps borrowing some OS detection and package management magic from autotools). And there's always a Docker version...

It would be really hard to work without associative arrays (`declare -A`) in bash. And I also think the security implications of relying on such an old

[2020-02-20 15:14] stweil commented on #30
There exist competing third party package managers for macOS (Fink, Homebrew, MacPorts, maybe more). In theory I can install more than one of them, but in real life that can cause conflicts, and it always costs a lot of disk space. None of those package managers will install /bin/bash, so `ocrd-olena-binarize` would still use the original old bash and fail. That's exactly my scenario: I run a rece

[2020-02-20 15:20] stweil commented on #30
None of my Debian hosts has zsh installed. I don't think that zsh is the solution.

[2020-02-20 15:44] stweil commented on #30
I still think that the best solution would be using Python for everything which cannot be done in a POSIX `/bin/sh`, but there might be a relatively simple solution with `OCR-D/ocrd_all`:

We could check whether `/bin/bash` is available and sufficiently new. If it is not, we could check whether there is a sufficiently new bash in the default `PATH`. If there is one, that bash could be linked to `$

[2020-02-20 15:55] kba commented on #30
How about replacing

[code]

with

[code]

for MacOS and doing a version check that fails early, loud and explicitly? That would shift the burden of having the right bash in `PATH` to the user.

OTOH I'm not as pessimistic about zsh/bash interop as @bertsky.

I have to say I'm not keen on reimplementing bashlib in Python especially if it is just about MacOS shipping broken software.

[2020-02-20 16:19] stweil commented on #30
That's a good suggestion. Only a small number of files seems to use associative arrays with `declare -A`, so only those would have to use `#!/usr/bin/env bash` (or fix `SHELL` for the Makefile):

    bin/ocrd-import
    bin/ocrd-im6convert
    bin/ocrd-olena-binarize
    lib/python3.7/site-packages/ocrd/lib.bash
    lib64/python3.7/site-packages/ocrd/lib.bash
    share/workflow-configuration/Makef

[2020-02-20 16:24] bertsky commented on #30
Then I guess the host/OS adaptor will have to provide multiple profiles (macos-fink, macos-homebrew, macos-macports etc).

Well if that's more than the overhead for Docker, then macOS is a poor choice for a native installation.

Here I agree with @kba: The traditional way to deal with this is `/usr/bin/env`. And if macOS does not even support that, then the host adaptor will have to go to further

[2020-02-20 16:27] stweil commented on #30
I'd only replace `/bin/bash` where needed, that means for those files:

* bin/ocrd-import
* bin/ocrd-im6convert
* bin/ocrd-olena-binarize
* share/workflow-configuration/Makefile

[2020-02-20 17:11] bertsky commented on #30
We could compare `${BASH_VERSINFO[0]}` and `${BASH_VERSINFO[1]}` with our frame of reference. Perhaps even in bashlib (for those scripts that source it). Which raises the question: which version do we minimally require?

Associative arrays are around since 4.0 (but have been fixed/improved since IIRC).

4.4 introduced (among others):

(which of course has security implications)

    value of `para

[2020-02-20 17:25] kba commented on #30
4.4 was released 2016-09-15. I think that is a reasonable expectation.

:+1:

[2020-02-20 17:39] bertsky commented on #30
Done: PRs above and https://github.com/bertsky/workflow-configuration/commit/8c86e004edec6f560ebf0ff926a4d87238b83d8c)

[2020-02-20 17:43] bertsky commented on #30
Perhaps we should do something in core as well, but I don't know what exactly. As @stweil pointed out, we don't have any shebangs in the library itself. There is, however:

- a shebang in tests/assets/column-samples/build.sh
- `SHELL = /bin/bash` in Makefile

Apart from that, for lib.bash itself, only the version check comes to mind.

[2020-02-20 18:22] stweil commented on #30
@kba, that's not a good check. It fails with a very recent bash 5.0. Better:

    ((BASH_VERSINFO<4 || BASH_VERSINFO<5 && BASH_VERSINFO[1]<4)) && echo >&2 "bash $BASH_VERSION is too old" && exit 1
    # or
    ((BASH_VERSINFO<4 || BASH_VERSINFO==4 && BASH_VERSINFO[1]<4)) && echo >&2 "bash $BASH_VERSION is too old" && exit 1

[2020-02-20 21:19] #30 closed

[2020-02-21 09:05] kba commented on #30
https://github.com/OCR-D/core/issues/445

[2020-03-05 15:45] mikegerber opened #38 "ocrd-olena-binarize produces invalid workspace"
Given the METS [mets.zip](https://github.com/OCR-D/ocrd_olena/files/4293761/mets.zip), I get after binarization (`ocrd-olena-binarize -I PRESENTATION -O OCR-D-IMG-BINPAGE,OCR-D-IMG-BIN -p '{ "impl": "sauvola-ms-split") }'`, 1.1.3/2.4.2) these errors:

[code]
(The workspace validated before running binarisation.)

However, the files are there:
[code]

* Should the `xlink:href` be a path?
* Should t

[2020-03-05 15:51] mikegerber commented on #38
(JPAGEViewer does not open the `FILE_0420_OCR-D-IMG-BINPAGE.xml` with the absolute path in the `imageFilename`, prepended with `file://` or not.)

[2020-03-05 18:27] bertsky commented on #38
Only if `LOCTYPE="OTHER" OTHERLOCTYPE="FILE"`, not for `LOCTYPE="URL"` IIRC.

We deprecated creating `file://` URLs ourselves, but must nevertheless be able to cope with that if it comes in, as is the case here.

I have never seen it like this. But it's what the spec would suggest:

However, I must add that this formulation dates from 16 months ago, when we still tried to stay on `file://` referen

[2020-03-05 19:28] bertsky commented on #38
@mikegerber could you please try again with #39 on your input? (We have no malign URLs tests for this yet.)

[2020-03-06 08:35] bertsky opened #40 "scribo does not pass k parameter to sauvola ms"
See upstream [description](https://gitlab.lrde.epita.fr/olena/olena/issues/6) and [solution](https://gitlab.lrde.epita.fr/olena/olena/-/merge_requests/4).

I don't know how long we will have to wait for this to be merged. Maybe we could merge into OCR-D/olena right away – @kba?

[2020-03-06 10:13] kba commented on #40
[Merged in OCR-D/olena](https://github.com/OCR-D/olena/commit/a797d18c9ed12aaf5f2276e0faefc8e6e7e2b313)

[2020-03-06 10:17] bertsky commented on #40
Thanks!

~~Do you want me to update `repo/olena` to this state in #41?~~ ok just saw #42

[2020-03-06 12:32] kba commented on #38
This is indeed outdated, c.f. https://github.com/OCR-D/spec/pull/140 We'll update the specs asap.

[2020-03-06 18:42] bertsky commented on #40
Fixed via #42

[2020-03-06 18:42] #40 closed

[2020-03-06 18:48] bertsky commented on #29
@jbarth-ubhd can we close this?

[2020-03-09 12:18] mikegerber commented on #38
They now support the absolute filenames (https://github.com/PRImA-Research-Lab/prima-page-viewer/issues/11)!

[2020-03-09 14:19] mikegerber commented on #38
I'm not sure what behavior exactly #39 changed? Anyways, it seems that this should be ok:

[code]

That is a full absolute path in `imageFilename`, produced by `ocrd-olena-binarize` (master), but this does not validate:

[code]

[code]

Is it a bug in core or something with my data? Or is this use unsupported? (I think it should be supported, as I work with supposedly valid METS from our library.)

[2020-03-09 14:43] bertsky commented on #38
Nothing in this case – sorry! I made a [mistake](https://github.com/OCR-D/ocrd_olena/pull/39#discussion_r389733908) and must fix again.

[2020-03-09 14:45] bertsky commented on #38
As stated above, this is _not_ a correct representation:

The validator is fine.

[2020-03-09 15:01] mikegerber commented on #38
It's also complaining when using the `file://` prefix.

[2020-03-09 15:28] bertsky commented on #38
oh! @kba?

[2020-03-11 09:21] jbarth-ubhd commented on #29
did `git -C ...`, `git -C ...` and `git submodule deinit ocrd_olena`

Then `make all`

still does not work:
[code]

[2020-03-11 18:18] stweil commented on #29
My build does not enter `scribo/demo/xml2doc`. Yours should not, too. The olena build is [configured to not build the documentation](https://github.com/OCR-D/ocrd_olena/blob/master/Makefile#L91). That avoids the related build problem. For some unknown reason here make tries to build the documentation and fails of course. That has to be fixed.

I'd expect a subtile problem in the local installation

[2020-03-12 08:27] jbarth-ubhd commented on #29
[code]

[2020-03-18 20:55] stweil commented on #29
Jochen, can you debug why the build enters that directory? Or perhaps reproduce the problem in a docker container, so that I can have a look on it?

[2020-03-18 21:15] bertsky commented on #29
@stweil are you sure about that? Mine does: it always builds `libexec/scribo/scribo-xml2doc` (which is then available as `scribo-cli xml2doc`).

This is not about _documentation_, but _document_: to convert from the internal XML representation to PDF, HTML, SVG etc.

@jbarth-ubhd the above error message looks helpful, I will take a look.

Sorry, I should have looked at this more closely earlier!

[2020-03-18 21:18] stweil commented on #29
@bertsky, I did `grep` on a build protocol. I'll check once more, but not today.

[2020-03-18 21:55] bertsky commented on #29
Looks like your configure chose the wrong QT version. It should look for qt4, but found qt5 on your system. And `pkg-config` or `qtconfig` (or whatever) then returned a form of CFLAGS (GCC option  `-isystem`) that the moc code generator cannot parse.

Also, just in passing, if this `demo` binary requires QT, then we are missing `libqt4-dev` in `deps-ubuntu`. (So either we add that, or we find a wa

[2020-03-19 11:26] bertsky commented on #29
Scratch that: I have found a better way (`with-qt=no`). Can you please try with #45?

A recipe for that:

    git -C ocrd_olena fetch origin pull/45/head:pr-45
    git -C ocrd_olena checkout pr-45
    make -C ocrd_olena clean install

[2020-03-19 11:53] stweil commented on #29
There was no QT installed on the computer where I made the test, so that could explain why that part was not built for me. That is similar to @bertsky's solution which disabled the QT part of the build, no matter whether it is available or not.

[2020-03-19 13:17] #29 closed

[2020-03-19 13:19] bertsky commented on #29
This was closed automatically because of my PR description. @jbarth-ubhd If the problem persists with current master, please re-open!

[2020-03-19 13:20] #38 closed

[2020-03-19 13:31] stweil commented on #29
I updated OCR-D/ocrd_all now with latest ocrd_olena, so new builds should work.

[2020-04-07 18:23] jbarth-ubhd opened #48 "sauvola-ms-split in combination with anybaseocr-crop"
I'm trying some variations of workflows; all with `olena` and `impl:sauvola-ms-split` with this workflow (similar to `workflow-configuration/crop-...-tesseract.mk`) (also with k=0.34):
[code]
are complaining this:
[code]
Always on the 17th image; not so: `sauvola` (without `-ms-split`)
Image see https://digi.ub.uni-heidelberg.de/diglitData/jb/23_-_lehrgegenstaende1790a_-_0_030.tif

OCR-D-IMG-CROP/

[2020-04-08 10:36] bertsky commented on #48
Do you still have a log/output of the processors up to that point? (`ocrd-make` will always create one named after each output filegrp plus `.log`)

If you have to run it again, please use verbose logging (`-l DEBUG`), too.

Also, can you please provide the input PAGE-XML file prior to failure?

Note: ocrd-olena-binarize does not read the `AlternativeImage` (because it's already binarized), but tr

[2020-04-08 13:19] jbarth-ubhd commented on #48
workflow with k=0.34 and segmentation "workflow-configuration style" (sorry, no .mk, I'm trying some variants of segmentation etc. automatically, hence N1 N2 N3...):

[code]

complete output:
[code]

[2020-04-08 13:22] jbarth-ubhd commented on #48
OCR-D-N1_0001.xml:
[code]

OCR-D-N2_0001.xml:
[code]

OCR-D-N3_0001.xml:
[code]

[2020-04-08 13:52] bertsky commented on #48
This is **not** from the current master of ocrd_olena. It therefore tries to re-binarize the already binarized image.

But this should still work (if badly). The error you get from IM...

...seems to suggest there's some kind of caching at work – which then fails. Also, you say this only happened in the 17th image, which fits that picture.

The only mention I find of this is [this thread](https://

[2020-04-08 14:20] jbarth-ubhd commented on #48
I've set up a fresh ocrd_all on 2020-04-03 13:06.

Imagemagick is
[code]
PS: It's Ubuntu 19.10 as schroot-container within Ubuntu 16.04

PixelCache: https://www.imagemagick.org/include/architecture.php#cache

[code]

Should I have done
[code]
instead?

[2020-04-08 14:34] jbarth-ubhd commented on #48
Took a look into ocrd-olena-binarize: `x,y` does only work for output groups?

[2020-04-08 14:35] jbarth-ubhd commented on #48
PS: with sauvola (no `-ms-split`) it does work.

[2020-04-08 14:49] bertsky commented on #48
This does not include d69ac0eaa1859419e8f463d0a61e642cf94268aa. But current ocrd_all master does (and its prebuilt Docker images are nearing completion right now).

That's quite recent. But a glance over [the changes since then](https://legacy.imagemagick.org/script/changelog.php) tell me our problem might already have been solved. Could you try an installation of 6.9.11 (perhaps from source)?

No

[2020-04-08 16:17] jbarth-ubhd commented on #48
It is always reproducable with this image: https://digi.ub.uni-heidelberg.de/diglitData/jb/23_-_lehrgegenstaende1790a_-_0_030.tif alone or after 16 others before.

Will try imagemagick from source.

[2020-04-08 17:43] bertsky commented on #48
I cannot reproduce with IM 6.9.7.4+dfsg-16ub and ocrd_olena master:

[code]

If you want I'll try with the old version (which uses the binarized AlternativeImage).

[2020-04-09 07:41] jbarth-ubhd commented on #48
updated ocrd_all; ocrd_olena is now
[code]

the second ocrd_olena still takes the already-binarized image(?) - but I tought this has been fixed: `If input fileGrp is PAGE-XML, prefer the last AlternativeImage that is _not_ already binarized.`

same error (will try other imagemagick soon)
[code]

[2020-04-09 08:45] jbarth-ubhd commented on #48
complete fresh ocrd_all install, with ImageMagick-6.9.11-6 - works. PS: now the second binarize uses original `23_-_lehrgegenstaende1790a_-_0_030.tif`.

[code]

[2020-04-09 08:45] #48 closed

[2020-04-09 10:33] bertsky commented on #48
re-install ocrd_olena?

For the record: So was it the IM update or the ocrd_olena update that made the difference?

[2020-04-09 10:50] jbarth-ubhd commented on #48
I did
[code]
but forgot `make all`

I think IM.

[2020-04-09 10:57] bertsky commented on #48
Then we have to keep in mind that certain IM versions between `6.9.7.4` and `6.9.11-6` don't work.

[2020-04-16 20:45] stweil opened #50 "Filenames with whitespace not supported"
`ocrd-olena-binarize` fails to process image names which contain blanks:

    22:36:52.039 INFO ocrd-olena-binarize - processing PAGE-XML input file Add MS 23494_0027_page (Add MS 23494_0027)
    22:36:52.065 INFO ocrd-olena-binarize - found AlternativeImage filename 'Add MS 23494_0027_B.tif' (B/W)
    22:36:52.070 WARNING ocrd-olena-binarize - image URL 'Add MS 23494_0027_B.tif' not referenced

[2020-04-16 20:57] bertsky commented on #50
Absolutely. We are trying to drag this feature along everywhere meticulously. I was under the impression that this already worked. You've proven me wrong.

At a glance, it looks like the problem is _not_ in `ocrd-olena-binarize`, but in `scribo-cli` (which uses `$@` without quotes).

This is trivial to fix with a `sed` call during `make install`. Anyone?

[2020-04-17 12:04] bertsky commented on #50
Or let's wait for https://github.com/OCR-D/olena/pull/4 and adopt here.

[2020-04-22 21:06] bertsky commented on #50
Fixed via #49

[2020-04-22 21:06] #50 closed

[2020-07-29 15:45] mikegerber opened #60 "Does not produce a valid workspace"
It seems `ocrd-olena-binarize` does not produce a valid workspace anymore since `ocrd workspace validate` now checks `PcGtdIs` against METS IDs:

[code]

[2020-07-29 15:48] mikegerber commented on #60
@kba Should the `test` target include a test for this, i.e. validating? (I believe it should, for every processor, but we should discuss it.)

[2020-07-29 15:55] kba commented on #60
It probably should, yes.

At the very least, this particular test should be skippable. https://github.com/OCR-D/core/issues/553

[2020-07-30 12:38] mikegerber opened #61 "make install woes"
I have some weird problems with the Makefile - make install fails to install /usr/local/bin/ocrd-olena-binarize:

[code]

I read the Makefile that `install` depends on `/usr/local/bin/ocrd-olena-binarize` existing but it doesn't:

[code]

More weirdly, without sudo, it tries to install:

[code]

[2020-07-30 12:41] mikegerber commented on #61
Another thing: that `sudo make install` defaults to installing to `/local` is a bit unexpected:

[code]

[2020-07-30 12:51] mikegerber commented on #61
Ah, the Makefile relies on `ocrd` working to read from `ocrd-tool.json`, in that case I had a broken ocrd install for the root user → this was tricky to debug.

I leave the issue open as it's maybe worth discussing if it's a bug that this line fails silently (if it fails):

[code]

[2020-07-30 12:57] kba commented on #61
We could do a more robust test than just `which ocrd` , e.g. `ocrd ocrd-tool --help`. Would that have helped?

[2020-07-30 13:00] mikegerber commented on #61
I think so (fixed the ocrd install already) but it's also a bit hard to handle such broken installs, so I'd leave it up to you.

[2020-07-30 13:06] mikegerber commented on #61
Main issue seems to be here that `$(shell foo)` does not fail if `foo` fails, then there would at least an error to look at.

[2020-07-30 13:17] #61 closed

[2020-07-30 15:16] kba opened #64 "otsu does not support --win-size (?)"
[code]

[2020-07-30 18:30] mikegerber commented on #60
@kba Another idea: I routinely run validation after running each processor to catch problems early. If there was a standard option `--validate` in core (supplemented by a config file that configures e.g. `--skip` options), this pattern:

[code]

would simplify to:
[code]

I might be the one user to use the validation a lot, so I am not sure if it's really a good fit as a "core option".

[2020-07-30 18:33] kba commented on #60
that's a good idea and would not be difficult to implement. can you open an issue in OCR-D/core with that proposal?

[2020-07-31 09:03] #60 closed

[2020-07-31 09:03] #64 closed

[2020-07-31 11:50] mikegerber opened #65 "remove Travis CI"
See https://travis-ci.org/github/OCR-D/ocrd_olena/builds/713616420.

I think https://github.com/OCR-D/ocrd_olena/blob/master/.travis.yml is missing a `make install`. I have absolutely no idea why this wasn't noticed earlier.

[2020-07-31 12:05] mikegerber commented on #65
I noticed there is both Travis and CircleCI running, this is a bit confusing. @kba?

[2020-07-31 12:10] kba commented on #65
I haven't used Travis in a long while, CircleCI was faster and more comfortable to work with. We should probably ditch Travis but if it's not too much effort to fix, I'll do that for now.

[2020-07-31 12:13] mikegerber commented on #65
I vote for removing Travis and having only one CI.

[2020-07-31 12:16] mikegerber commented on #65
However I was already testing #66, build is still running

[2020-07-31 12:22] kba commented on #65
I don't feel strongly one way or the other. But maybe @bertsky does. Let's wait for him to return from vacation.

For now, I think #66 fixed Travis, waiting for https://travis-ci.org/github/OCR-D/ocrd_olena/builds/713665797 to finish.

[2020-08-11 11:18] bertsky commented on #65
But `test` already depended on `install`. My guess is the deeper reason for this failure was the [broken TOOLS logic](https://github.com/OCR-D/ocrd_olena/pull/59#issuecomment-666993067) detected by you.

No hard feelings here about removing the Travis setup.

[2020-08-12 09:45] mikegerber commented on #65
The Makefile `test` target does not depend on `install` AFAICS, or do you mean something else?

[2020-08-12 10:23] bertsky commented on #65
ha! You're right – not anymore: ed2d93f7

@kba could you please explain why you removed that dependency?

[2020-08-12 10:45] kba commented on #65
Because not every `make test` should run `make install`. It's useful for CI but less so when debugging the tests (which I was doing in that commit). Sry for the confusion but I would prefer to keep it like this and just do `make install` in addition to `make test` in CI.

[2020-08-12 14:00] bertsky commented on #65
I see. I'd agree with that in general (although it's surprising to me). But here, `test` (i.e. test.sh) cannot even work without `install`. Perhaps you really just tried to avoid **re-installing** each time you want to run test (so making `install` more selective)?

[2020-08-12 14:23] kba commented on #65
Yes.

[2020-08-12 14:32] bertsky commented on #65
Then your recent improvements (`TOOLS` in fe929680, `which` in 18974828) are already sufficient?

Or should we also improve on `deps` (e.g. by replacing the unconditional functional test with time-stamped explicit executable files under `$PREFIX/libexec/scribo/sauvola` and `$PREFIX/bin/ocrd` etc)?

[2020-08-12 14:37] kba commented on #65
I think so, yes. `make test` works nicely now, CircleCI is working and Travis we want to get rid off anyway, right?

[2020-08-12 14:45] bertsky commented on #65
We do, yes. Could you please check if you are still satisfied with interactively running `make test` repeatedly after re-instating the `install` dependency? (Otherwise I'll make a PR for the above `deps` proposal.)

[2020-08-12 14:50] kba commented on #65
Cannot test properly (at work, bash is too old...) but the overhead of running `install` with every `test` is minimal, can be reinstated from my POV.

[2020-08-20 22:23] bertsky opened #67 "cannot cope with input in OCR-D/spec#164 convention"
The Python-based processors get this for free, because the logic is now part of `Processor.input_files`: we have to adapt our bash wrappers such that if for some pageId there is both a PAGE and any number of images, the images get ignored. (Currently, they are treated as input, lifting them to new pages of the same name.)

[2020-08-21 07:25] bertsky commented on #65
apart from that, CI still fails because [pip is out-of-date](https://github.com/OCR-D/ocrd_tesserocr/pull/138#issuecomment-673692790).

[2020-08-21 12:05] bertsky commented on #65
Sorry, re-opening as a reminder we want to make `install` dependent on `deps` again, and ultimately remove Travis.

[2020-10-12 15:24] bertsky opened #73 "remove temporary files after cropping"
When processing PAGE files the have a `/PcGts/Page/Border` but no cropped `AlternativeImage`, then IM is used to crop prior to binarization:
https://github.com/OCR-D/ocrd_olena/blob/cd7a3595c38bafb75b6ba3a26f5cc10bd2a45011/ocrd-olena-binarize#L255-L259

However, these files need to be cleaned up again after `scribo-cli` ran, otherwise storage will fill up with tmp files unnecessarily.

[2020-10-21 09:19] #73 closed

[2021-04-30 10:39] kba opened #75 "Do not create or remove folder if no input images"

[2021-05-18 17:02] mikegerber opened #76 "ocrd-olena-binarize silently ignores non-existent input file group"
For any workspace, a non-existent input file group is silently ignored, without an error:
[code]

Other processors report a much more useful error, e.g.:
[code]

[2021-05-18 17:06] mikegerber commented on #76
#75 is somewhat related because it still creates the (empty) output directory.

[2021-05-18 17:20] bertsky commented on #76
I believe bashlib's `ocrd__parse_argv` needs to do something along the lines of `ocrd.decorators.ocrd_cli_wrap_processor` here (which calls `WorkspaceValidator.check_file_grp` on the workspace and filegrps).

[2021-05-19 09:56] mikegerber commented on #76
A little reasoning why this important: We have a "workflow script" that runs binarization and then layout segmentation. Because the user used the wrong input file group, no binarization was generated and - confusingly - the layout segmentation failed.

[2021-09-14 12:27] bertsky opened #77 "aggregate adding files to METS to gain speed"
Currently, for each page, after the backend CLI have created the output image and output PAGE, we add both separately to the METS.

Since METS de/serialization may become very slow on large workspaces, it would be better to aggregate all these `ocrd workspace add` commands in the loop into a single `ocrd workspace bulk-add` in the end. (But of course, we would have to be careful with error handlin

[2021-09-22 09:37] bertsky opened #78 "Docker builds do not work anymore"
We currently get:
[code]

That's despite our `make deps-ubuntu` in the Dockerfiles. Judging by the [build log](https://circleci.com/api/v1.1/project/github/OCR-D/ocrd_olena/135/output/108/0?file=true&allocation-id=613b1e8799aaf9771f6eccab-0-build%2F74B50129) I guess that the libraries get removed during the final `apt-get -y autoremove` accidentally.

Also, our `make check` does not detect this, a

[2021-09-22 13:39] bertsky commented on #78
Fixed in b95256e8c5a114b6b140bd1effae4b4e8bd0850a

[2021-09-22 13:39] #78 closed

[2021-10-28 11:32] mikegerber opened #79 "Consider making it possible to not install deps"
This is rather a wishlist item:

Please consider an `install` target that doesn't install `deps` (e.g. `build-olena`). I have Olena pre-built and installed system-/container-wide and I don't want ocrd_olena to build it again for me.

My first idea is changing this in the `Makefile`:
[code]
to something like this (not tested but hopefully clear what the intention is):
[code]

(What I currently do i

[2021-11-01 15:16] bertsky commented on #79
Sure, we could differentiate the two groups of targets (which I would rather call `install` vs. `install-tools`).

But it would probably be even better if your (apted) pre-installation would be found by `deps` directly. Since our makefile simply delegates to Olena's makefile, all we have to do is make sure the runtime check for `scribo-cli` works:

https://github.com/OCR-D/ocrd_olena/blob/faf31703

[2021-11-09 09:55] mikegerber commented on #79
Also, no other processor installs system-dependencies′ (like Tesseract) with `make install`, I would expect this from this processor, too.

For example, ocrd_tesserocr makes installing `deps-ubuntu` a separate step in the documentation.

¹ Anything that is not installable by pip

[2021-11-09 13:44] bertsky commented on #79
The `deps-ubuntu` part is independent here as well. In fact, this module does not (attempt to) install anything system-wide if you call `make install`. But if you define _system dependencies_ as everything beyond `pip` (even if it's just C libraries in the venv), then yes, that's what we need here (and ocrd_tesserocr does a similar thing BTW).

[2021-11-09 14:12] mikegerber commented on #79
Please decide as you please - the feedback from me as a user is: please make it possible to *not* compile and install the Olena dependency when installing ocrd_olena. It takes ages to compile this stuff.

[2021-11-09 15:27] bertsky commented on #79
I know, and like I said, I am sympathetic to your proposal, but please help me by first addressing the above question:

(I cannot try this myself as I have no copy of your deb prebuild.)

[2021-11-09 15:35] kba commented on #79
https://qurator-data.de/~mike.gerber/olena_2.1-0+ocrd-git+1/ (from https://gitter.im/OCR-D/Lobby?at=617a84a6d3ae402e477590ea)

[2021-11-09 16:41] mikegerber commented on #79
Yes, that's the deb! I currently install it like this:

https://github.com/qurator-spk/ocrd-galley/blob/master/Dockerfile-ocrd_olena#L14-L19

(No APT repo because interest in the community seemed to be small.)

[2021-11-10 15:54] bertsky commented on #79
I just checked myself: it _does_ suffice to symlink `/usr/bin/scribo-cli` from your `olena-bin` into `$PREFIX/bin`. All `make install` does after this point is to ensure ocrd/Python stuff is there.

[2021-11-11 14:39] mikegerber commented on #79
Sure, that's a workaround.

[2021-11-11 18:25] #79 closed

[2021-11-11 18:29] bertsky commented on #79
I implemented both.

[2021-11-12 09:39] mikegerber commented on #79
I just had a look at the change: Checking with `command -v` looks a like good solution in addition to splitting the target!

[2021-11-30 18:22] bertsky commented on #76
With the fix now available in core (and hopefully also ocrd_all) I'd say we can close. Let me know @mikegerber if the problem persists.

[2021-11-30 18:22] #76 closed

[2021-12-01 11:24] M3ssman opened #81 "Empty page_id : bad array subscript"
# Description

## Platform

* `ocrd/all:2021-10-12`
* `ocrd-olena-binarize --version : Version "1.2.3", ocrd/core "2.26.0"`

## Actual Behavior

Running simple Workflow from scratch with only a single starting image and an empty METS, olena-Wrapper crashes likely
[code]

## Expected Behavior

No crash if no page_id set.

Please see attached data

[16258165-olena.zip](https://github.com/OCR-D/ocrd_

[2021-12-01 17:17] bertsky commented on #81
Thanks @M3ssman for the report.

So the file is not associated with an entry in the physical structMap. That's a situation we thought we could rule out for OCR-D (see spec and earlier core pulls regarding pageId allocation). If this is something we have to deal with in real life, then it would help understanding which circumstances are responsible for that state of affairs. Will _no_ files have a

[2021-12-01 17:52] bertsky commented on #81
I pushed a workaround on master that fixes this example. You will only get a warning in the end:
[code]

Closing for now – please test on further data (we can re-open if the problem persists).

Anyone is still welcome to comment on the general problem.

[2021-12-01 17:52] #81 closed

[2021-12-02 20:43] bertsky commented on #77
The real problem here is that `bulk-add` needs strict file path names, though. But which page ID and output file ID you get depends on lots of factors (including naming convention on the input side and potential clashes with existing IDs). It is not realistic to reconstruct all information (file ID and page ID) from the file path name alone.

It would be nice if we had a function in core where you

[2021-12-08 12:08] #75 closed

[2022-05-17 14:47] bertsky commented on #77
Is now possible to implement.

Can also be used to allow page-parallel processing. See [ocrd-import](https://github.com/bertsky/workflow-configuration/blob/master/ocrd-import) for such an implementation.

[2022-05-17 15:24] bertsky opened #84 "default parameterization of wolf is suboptimal"
I have 600 DPI images that look pretty harmless, e.g.

![0357_Page 354](https://user-images.githubusercontent.com/38561704/168846190-47da1125-c53d-438b-b1f1-1dbdb3756dcd.jpg)

But when fed to our default parameterization for `wolf`, they fail utterly:

![win-size-601](https://user-images.githubusercontent.com/38561704/168846633-cb460ec5-cd46-44f9-a529-16cd1555bdf4.png)

It turns out that our rule

[2022-05-17 16:19] bertsky commented on #77
Perhaps we could even go one step further – and implement the bulk-add functionality in bashlib directly. Like `ocrd__files` and `ocrd__input_file`, we could provide a bash function `ocrd__output_file` (or `ocrd_add`) that encapsulates
- aggregating all the requests (input for bulk-add)
- running bulk-add in the end

What do you think, @kba?

[2022-05-18 15:30] kba commented on #77
That would be even better than the custom solution you provide in #85. I am not sure how much effort that would be to generalize or rather whether that effort is worth the gain, seeing as we have few bashlib processors as opposed to Python processors.